body {
    background: url("assets/img/background.jpg") #404a6d no-repeat center center;
    background-size: cover;
    background-image: url('assets/img/background.jpg');
    height: 100vh;
    backdrop-filter: blur(3px);
}

.row {
    color: #ffffff;
}
